* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroundColor: #ffffff;
    --highlightColor: #5E77EE;
    --textColor: black;
    --iconFilter: brightness(1);
}

.highlightColour {
    background-color: var(--highlightColor);
}

[data-theme="skyTheme"] {
    --backgroundColor: #ffffff;
    --highlightColor: #5E77EE;
    --textColor: black;
    --iconFilter: invert(0%);
}

[data-theme="nightTheme"] {
    --backgroundColor: black;
    --textColor: lightgrey;
    --highlightColor: #4d60bf;
    --iconFilter: invert(90%);
}

[data-theme="naturalTheme"] {
    --backgroundColor: #d8ebcc;
    --textColor: #2a3d1d;
    --highlightColor: green;
    --iconFilter: invert(0%);
}

html,
body {
    height: 100vh;
    width: 100%;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.2vw;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.titleFont {
    font-size: 2.7vw;
    font-weight: bold;
}

.subtitleFont {
    font-size: 1.8vw;
    font-weight: bold;
}

#all {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    height: 2.2vh;
}

#footer {
    height: 2.2vh;
}

#centerDiv {
    display: flex;
    flex-grow: 1;
}

#centerDiv>div {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#left {
    width: 50%;
    height: 100%;
}

#PFPDiv {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    vertical-align: middle;
}

#PFPContainer {
    margin: 0 auto;
    background-image: url("PFP.jpg");
    position: relative;
    border-radius: 50%;
    width: 33vw;
    height: 33vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#PFPOverlay {
    position: absolute;
    width: 33vw;
    margin: 0 auto;
    margin-left: 8.5vw;
    height: 33vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.0);
    opacity: 0;
}

#PFPOverlay:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    cursor: pointer;
}

#PFPOverlay>span>a {
    text-decoration: none;
    color: lightblue;
}

#PFPOverlay>span>a:hover {
    text-decoration: underline;
}

#right {
    flex-grow: 1;
    height: 100%;
}

#padme {
    padding: 12vh 4vw 0vw;
}

.mainText {
    line-height: 1.7;
}

#mainName {
    border-bottom: 0.4vw solid var(--highlightColor);
}

table {
    text-align: center;
    height: 5vh;
    width: 5vw;
    table-layout: auto;
    border-spacing: 0;
}

th {
    height: 5vh;
    width: 5vw;
}

th,
td {
    padding: 0;
    padding-left: 4.8vw;
}

td>a>img {
    width: 2vw;
    height: auto;
    filter: var(--iconFilter);
}

td>a {
    text-decoration: none;
    font-weight: bold;
    color: var(--highlightColor);
}

a:hover>span {
    text-decoration: underline;
}

#themeSwitcher {
    margin-top: 12vh;
    margin-right: 2vw;
    float: right;
    padding: 0.5vw;
    display: flex;
    flex-direction: row-reverse;
}

#themeExpand {
    display: flex;
    flex-direction: row-reverse;
}

#themeExpand>div {
    width: 3vw;
    padding: 0.3vw;
}

.themeOptions:hover {
    cursor: pointer;
    font-weight: bold;
}

#currentTheme {
    background-color: #f7f7f7;
    color: black;
    padding: 0.3vw;
    border-radius: 5%;
}

#currentTheme:hover {
    cursor: pointer;
    font-weight: bold;
}

#skyTheme:hover {
    color: #5E77EE;
}

#lightTheme:hover {
    color: darkgoldenrod;
}

#nightTheme:hover {
    color: darkgray;
}

#naturalTheme:hover {
    color: green;
}

#currentThemeIcon {
    display: inline-block;
}