* {
    margin: 0;
    padding: 0;
}

:root {
    --backgroundColor: #ffffff;
    --highlightColor: #5E77EE;
    --lightHighlightColor: #bec8f8;
    --textColor: black;
    --textHover: black;
    --iconFilter: brightness(1);
}

.highlightColour {
    background-color: var(--highlightColor);
}

[data-theme="skyTheme"] {
    --backgroundColor: #ffffff;
    --highlightColor: #5E77EE;
    --textColor: black;
    --iconFilter: invert(0%);
    --themeSwitcher: #f7f7f7;
}

[data-theme="nightTheme"] {
    --backgroundColor: black;
    --textColor: lightgrey;
    --textHover: white;
    --highlightColor: #4d60bf;
    --lightHighlightColor: #192042;
    --iconFilter: invert(90%);
    --themeSwitcher: #192042;
}

html,
body {
    height: 100vh;
    width: 100%;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.05em;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.titleFont {
    font-size: 2.3em;
    font-weight: bold;
}

.subtitleFont {
    font-size: 1.2em;
    font-weight: bold;
}

#all {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#header {
    height: 0.8em;
}

#footer {
    height: 0.8em;
}

#centerDiv {
    display: flex;
    flex-grow: 1;
}

#centerDiv>div {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#left {
    width: 50%;
    height: 100%;
}

#PFPDiv {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    vertical-align: middle;
}

#PFPContainer {
    margin: 0 auto;
    background-image: url("images/PFP.jpg");
    position: relative;
    border-radius: 50%;
    width: 28em;
    height: 28em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#PFPOverlay {
    position: absolute;
    width: 28em;
    height: 28em;
    margin: 0 auto;
    margin-left: 7.8em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.0);
    opacity: 0;
}

#PFPOverlay:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    cursor: pointer;
}

#PFPOverlay>span>a {
    text-decoration: none;
    color: lightblue;
}

#PFPOverlay>span>a:hover {
    text-decoration: underline;
}

#right {
    flex-grow: 1;
    height: 100%;
}

#padme {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    position: absolute;
    top: 50%;
}

.mainText {
    line-height: 1.7;
}

#mainName {
    border-bottom: 0.13em solid var(--highlightColor);
}

#tableLinks {
    text-align: center;
    height: 3em;
    width: 3em;
    table-layout: auto;
    border-spacing: 0;
}

#tableLinks>th {
    height: 3em;
    width: 3em;
}

#tableLinks>th,
#tableLinks>tbody>tr>td {
    padding: 0;
    padding-left: 2.8em;
}

#tableLinks>tbody>tr>td>a>img {
    width: 1.6em;
    height: auto;
    filter: var(--iconFilter);
}

#tableLinks>tbody>tr>td>a {
    text-decoration: none;
    font-weight: bold;
    color: var(--highlightColor);
}

#tableLinks>tbody>tr>td>a:hover>span {
    text-decoration: underline;
}

#themeSwitcher {
    margin-top: 36em;
    height: auto;
    margin-right: 2em;
    float: right;
    padding: 0.4em;
    display: flex;
    flex-direction: row-reverse;
}

#themeExpand {
    display: flex;
    flex-direction: row-reverse;
}

#themeExpand>div {
    width: 2.5em;
    padding: 0.2em;
}

.themeOptions:hover {
    cursor: pointer;
    font-weight: bold;
}

#currentTheme {
    background-color: var(--themeSwitcher);
    color: var(--textColor);
    padding: 0.28em;
    border-radius: 0.4em;
}

#currentTheme:hover {
    cursor: pointer;
    font-weight: bold;
}

#skyTheme:hover {
    color: #5E77EE;
}

#lightTheme:hover {
    color: darkgoldenrod;
}

#nightTheme:hover {
    color: darkgray;
}

#currentThemeIcon {
    display: inline-block;
}

.detailsLink {
    border-radius: 0.2em;
    padding: 0.3em;
    background-color: var(--lightHighlightColor);
    color: var(--highlightColor);
    cursor: pointer;
}

.detailsLink:hover {
    color: var(--textHover);
}


#detailsWindow {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: -1;
    opacity: 0;
}

#detailsWindowCenter {
    display: none;
    color: black;
    position: absolute;
    background-color: #f7f7f7;
    width: 60%;
    height: 60%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    padding: 2.5vw;
    border-radius: 4%;
}

#detailsWindowClose {
    display: table-cell;
    vertical-align: middle;
    width: 1.5vw;
    font-size: 1.5vw;
    height: 1.5vw;
    padding: 0.3vw;
    color: white;
    background-color: firebrick;
    position: absolute;
    text-align: center;
    left: 93%;
    cursor: pointer;
}

#detailsWindowClose:hover {
    background-color: darkred;
}

#webDevTable {
    width: 95%;
    table-layout: fixed;
    text-align: center;
    font-size: 1vw;
    border-collapse: collapse;
    margin: auto;
}

#webDevTable>tbody>tr>td {
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
    padding: 0.8vw;
}

#webDevTable>tbody>tr>td>a {
    text-decoration: none;
}

#webDevTable>tbody>tr>td>a:hover {
    font-weight: bold;
}

.webSS {
    height: 8vw;
    display: block;
    margin: auto;
    cursor: pointer;
}

#robotCodeTable {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
}

#robotCodeTable>tbody>tr>td {
    padding: 0.8vw;
}

#programmingContestsTable {
    width: 95%;
    table-layout: fixed;
    text-align: center;
    font-size: 1vw;
    border-collapse: collapse;
    margin: auto;
}

#programmingContestsTable>tbody>tr>td {
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
    padding: 0.8vw;
}

#programmingContestsTable>tbody>tr>td>a {
    text-decoration: none;
}

#programmingContestsTable>tbody>tr>td>a:hover {
    font-weight: bold;
}

.spacer {
    height: 0.8em;
}