.floorshelf {
	background-color: #5f5142;
	width: 82%;
	margin: 2.5em auto 1.5em;
	height: 5.4em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0em 0.1em;
}

.floorshelf > div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}
