#floorcase {
  height: 22em;
  width: 24em;
  background-color: #a79177;
  margin: 2em auto 0 auto;
}

#se-webring-logo {
  display: flex;
  justify-content: center;
  height: 12%;
}

#se-webring-logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#se-webring-logo img {
  display: block;
  height: 100%;
  stroke: none;
}
