@media (min-width: 1001px) {
    #thePlant {
        height: 8em;
        width: auto;
        position: absolute;
        bottom: 2em;
        left: 40em;
    }
}
  
@media (max-width: 1000px) {
    #thePlant {
        display: none;
    }
}