.sidePanel {
    background-color: #E5E5E5;
    height: calc(100% - 2em);
    position: absolute;    
    z-index: 2;
    top: 0;
    overflow: hidden;
    color: black;
}

.sidePanel-open {
    width: 50%;
    transition: width 0.4s ease-in-out;
}

.sidePanel-closed {
    width: 0;
    transition: width 0.4s ease-in-out;
}